*.exe
*.dll
*.zip
lib/
include/sdl/
game/lib/
game/include/sdl/
game/include/sdl_FULLOS/
game/.vscode/
pch/build/
pch/googletest/
pch/.vscode/
.vscode/
build/Makefile
build/LyrsGame.exe
build/compile_commands.json
build/CMakeCache.txt
build/cmake_install.cmake
build/CMakeFiles
build/.cmake