*.exe
*.dll
*.zip
lib/
include/sdl/
game/build/**
game/build/
game/lib/
game/include/sdl/
game/include/sdl_FULLOS/
game/.vscode/
build/
pch/build/
pch/googletest/
pch/.vscode/
.vscode/
!game/build/res/*
!game/build/story/*
!game/build/SDL2_image.dll
!game/build/SDL2_ttf.dll
!game/build/SDL2.dll